img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  padding: 20px;
  gap: 24px;
  list-style: none;
}

.gallery-item {
  width: 100%;
  max-width: 360px;
  border: 1px solid #808080;
  overflow: hidden;
}

.gallery-link {
  display: flex;
  flex-direction: column;
}
.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 4px;
}

.card-descr {
  display: flex;
  padding: 4px 20px;
  justify-content: space-between;
}

.card-descr-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.elem-titel {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.elem-value {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
