* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.user-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #808080;
  background-color: #fff;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.user-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #808080;
}

.user-input:hover {
  border: 1px solid #000000;
}

.user-input:focus {
  border: 1px solid #4e75ff;
}

.form-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
}

.form-button:hover,
.form-button:focus {
  background-color: #6c8cff;
}

.load-btn {
  display: block;
  margin: 0 auto;
  width: 125px;
}
/* ============== Styles for Mobile devices =============== */

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
